
:root {
  --bg: #ececec;
  --praimery: #4d19a1;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #4d19a1;
}
.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  place-content: center;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}
.card {
  width: 350px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.993);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition:
      transform 0.4s ease,
      box-shadow 0.4s ease;
} 
.card:hover {
  transform: translateY(-10px);
}
@media (max-width: 400px) {
  .card {
    width: 100%;
  }
}
.card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--praimery);
  top: -80%;
  right: -80%;
  border-radius: 50%;
}
.card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--praimery);
  bottom: -80%;
  left: -80%;
  border-radius: 50%;
}
.card i {
  color: var(--praimery);
}
.card img {
  width: 40px;
}
.card h1 {
  text-align: center;
  margin-bottom: 10px;
}
.card input {
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  outline: none;
  border-radius: 5px;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}
input:focus {
  outline: none;
  border-color:solid 1px #6a11cb;
  box-shadow: 0 0 0 3px rgba(106, 17, 203, 0.2);
}
.card button {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: var(--praimery);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}
.card p {
  color: #acabab;
  font-size: 15px;
}
.card p a {
  text-decoration: none;
  color: var(--praimery);
  font-weight: bold;
}
/* ====== icon background ====== */

